<%= form_with model: @painting do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :image %>
    <%= f.text_field :image %>
    <%# f.collection_select [key], array, value, browser %>
    <%= f.collection_select :artist_id, @artists, :id, :name %>
    <%= f.collection_select :gallery_id, @galleries, :id, :name %>

<%# 
    <select name="painting[artist_id]">
        <option value="1">Vinceent van Gogh</option>
        <option value="2">Frida Kahlo</option>
        <option value="3">Claude Monet</option>
    </select> %>

    <%= f.submit %>
<% end %>